.container {
  display: grid;
  grid-template: 100px calc(100vh - 100px) / 1fr;
  grid-gap: 3px;
  grid-template-areas:
  "nav"
  "content"
}

.mg-a {
  margin: auto;
}

.d-flex {
  display: flex;
}

.nav {
  background-color:#eee;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  grid-area: nav;
}


.content {
  grid-area: content;
}
