.content {
  display: grid;
  grid-template: 100px calc(100vh - 100px) / 1fr;
  grid-gap: 3px;
  grid-template-areas:
  "nav"
  "content"
}

.nav {

  background-color:lightblue;
  grid-area: nav;
}


.content {
  background-color:lightgoldenrodyellow;
  grid-area: content;
}
